@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sitema de Contas</h1>
</div>

@using WebApplication5.Models
@{
    FaturaModel cls = new FaturaModel();
    var data = cls.Read();

    var mychart = new Chart(width: 500, height: 450)
   .AddTitle("Faturas")
   .AddSeries(name: "Fatura", chartType: "Line", xValue: data, xField: "ValorConta", yValues: data, yFields: "DataFatura");

}

<html>
<head>

</head>
<body>
    <div>
        @mychart.Write(format: "gif");
    </div>
</body>
</html>





